@font-face {
    font-family: "Combat";
    src: url("Combat.otf");
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
